.wrap {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  color: inherit;
  line-height: 0;
}

.wrap :global(svg) {
  width: 100%;
  height: 100%;
  display: block;
}

.imageWrap {
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
